hr{
    border-style: solid;
    border-color: black ;
    border-width: 3px;
}
#whole{
	padding:2px;
    border-style:ridge;
    border-color:#fffb00;
    width:980px;margin-right:auto;
    margin-left:auto;
    background-color: rgba(0,0,0,.5);
}
body{
    font-family: 'Montserrat', sans-serif;
    color:#fff;
    background-image: url(imagies/Background\(1\).jpg)
}
.alingtable{
    width: 55%;
    margin-left: auto;
    margin-right: auto;     
}
#head-profile{
    border-radius: 50%;
    float: right; 
    margin-right: 100px;
}